<% @pending_approval.each do |pa| %>
  <div class="homepage-block col-md-3">
    <h4><%= pa.user.full_name %></h4>
    <p><span class="pending-details">Fecha Registrada:</span> <%= pa.date%> </p>
    <p><span class="pending-details">Justificación:</span> <%= truncate pa.rationale, length: 42 %> </p>

    <div class="row">
      <div class="col-md-6 column">
        <%= link_to 'Aprobar ', approve_post_path(pa), class: "btn btn-block btn-success", id: "Post##{pa.id}"%>
      </div>
      <div class="col-md-6 column">
        <%= link_to 'Revisar', post_path(pa.id), class: "btn btn-block btn-warning"%>
      </div>
    </div>
  </div>
<% end %>