<tr>      
    <td>
      <%= post.id%>
    </td>
    <td>
      <%= post.date%>
    </td>
    <td>
      <%= post.overtime_request%>
    </td>
    <td>
      <%= link_to truncate(post.rationale), post %>
    </td>
    <td>
      <%= post.user.full_name%>
    </td>
    <td>
      <%= status_label post.status%>
    </td>
    <td>
      <%= link_to '', edit_post_path(post), class: "glyphicon glyphicon-pencil icon-accion-edit",  id: "edit#{post.id}" if policy(post).update?%>
      <%= link_to '', post_path(post), class: "glyphicon glyphicon-trash icon-accion-delete", method: :delete, id: "delete#{post.id}"%>
    </td>
</tr>