  <div class="form-group">
    <%= f.radio_button(:status, "registrado") %>
    <%= f.label(:status, "Registrado") %>
    <%= f.radio_button(:status, "aprobado") %>
    <%= f.label(:status, "Aprobado") %>
    <%= f.radio_button(:status, "rechazado") %>
    <%= f.label(:status, "Rechazado") %>
  </div>